/* Column Heading Styling */
.ht_master th {
  background: linear-gradient(to right, #4caf50, #2c6e2f);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.colHeader {
  height: 40px;
  padding: 3px;
}

.handsontable th {
  background-color: #ccd7d5;
  color: #222;
  font-weight: 400;
  font-family: cursive;
  font-size: 24px;
  text-align: center;
  white-space: nowrap;
  align-content: center;
  text-emphasis: initial;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 -2px 5px rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 1;
  height: 2px;
  transition: all 0.3s ease;
}

.handsontable th:hover {
  background-color: #8faa9e;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 -4px 10px rgba(255, 255, 255, 0.6);
  transform: translateY(-2px);
}

.handsontable td {
  height: 20px;
  align-content: center;
  background-color: rgba(250, 230, 249, 0.421);
  font-size: 14px;
  border-radius: 10px;
}

.ht_master th:hover {
  background-color: #388e3c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.ht_master th.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(to right, #4caf50, #2c6e2f);
  color: white;
}

.ht_master th .column-header-btn {
  color: #ffffff;
  font-size: 14px;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.ht_master th .column-header-btn:hover {
  color: #ffeb3b;
}

.ht_master th:first-child {
  background: linear-gradient(to right, #4caf50, #2c6e2f);
  font-weight: 700;
  color: #ffffff;
}

.ht_master th {
  cursor: pointer;
}

.app-container {
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.highlight-row {
  background-color: #ffcccc !important;
  font-weight: bold;
}

.highlight-column {
  background: linear-gradient(to bottom, #e0f7fa 0%, #b2ebf2 100%);
  font-weight: bold;
  color: #00796b;
  border: 1px solid #004d40;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 400px;
}

.highlight-column-a {
  background: linear-gradient(to bottom, #f1f8e9 0%, #c5e1a5 100%);
  font-weight: bold;
  color: #388e3c;
  border: 1px solid #2c6e2f;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.highlight-column:hover,
.highlight-column-a:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.actions {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.actions-buttons {
  margin-right: 1rem;
}

.actions-buttonsSec {
  display: flex;
}

.actions button {
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #004d40;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  text-align: left;
  border: 1px solid #ddd;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  z-index: 5;
}

td {
  min-width: 120px;
  word-wrap: break-word;
  overflow: hidden;
}

td[contentEditable="true"]:empty {
  background-color: #f8f8f8;
}

.app-container {
  display: flex;
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.side-nav {
  width: 250px;
  background-color: #3c8dbc;
  padding: 20px;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.side-nav:hover {
  transform: translateX(5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.side-nav h2,
.side-nav h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fbfbf8;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.side-nav button {
  background-color: #bdbdbd;
  color: rgb(19, 18, 18);
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.side-nav button:hover {
  background-color: #f4f8fa;
  transform: translateX(3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.side-nav button:active {
  transform: translateX(1px);
}

.side-nav button:focus {
  outline: none;
}

.side-nav .side-nav-button {
  background-color: #b3d6f0;
  color: #333;
}

.side-nav .side-nav-button:hover {
  background-color: #99c2e8;
}

.main-container {
  flex-grow: 1;
  margin-left: 10px;
  overflow-y: scroll;
  height: 100vh;
  padding-top: 20px;
}

.menu {
  display: flex;
  gap: 15px;
  margin-bottom: 60px;
  top: 20px;
  z-index: 5;
  background-color: #3c8dbc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.menu select {
  margin: 5px;
}

.menu button {
  padding: 12px 20px;
  background-color: #bdbdbd;
  color: rgb(8, 8, 7);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu button:hover {
  background-color: #f5f8fa;
  transform: scale(1.05);
}

.menu button:active {
  transform: scale(0.95);
}

.menu select {
  padding: 10px 15px;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu select:hover {
  background-color: #e0e0e0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu select:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #4caf50;
}

#logout {
  background-color: rgb(249, 59, 59);
  margin-left: auto;
}

#logout:hover {
  background-color: #d32f2f;
}

.handsontable td {
  height: 25px;
  background-color: rgba(250, 230, 249, 0.421);
  font-size: 13px;
  border-radius: 10px;
}

.highlight-column {
  background: linear-gradient(to bottom, #e0f7fa 0%, #b2ebf2 100%);
}

.highlight-column-a {
  background: linear-gradient(to bottom, #f1f8e9 0%, #c5e1a5 100%);
}

.highlight-row {
  background-color: #ffcccc !important;
}

.actions {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.actions button {
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #004d40;
}

.app-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  margin-left: 60px;
  width: 150px;
  height: auto;
}

#formula-bar {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.copy-data-container {
  position: relative;
  display: flex;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sum-exceeds {
  background-color: #ffcccc !important;
}

/* New Styles for Requested Changes */

/* Decrease row headers font-size */
.ht_clone_left th {
  font-size: 12px;
}

/* Tree structure for years and files */
.year-list {
  list-style-type: none;
  padding: 0;
}

.year-list li {
  margin: 5px 0;
}

.year-list li > button::before {
  content: "📁";
  margin-right: 5px;
  font-size: 16px;
}

.file-list {
  list-style-type: none;
  padding-left: 20px;
}

.file-list li > button::before {
  content: "📄";
  margin-right: 5px;
  font-size: 16px;
}

/* Adjust button styles for tree structure */
.year-list button,
.file-list button {
  background: none;
  box-shadow: none;
  padding: 5px;
  margin: 0;
  color: white;
  text-align: left;
  width: 100%;
}

.year-list button:hover,
.file-list button:hover {
  text-decoration: underline;
  background: none;
  transform: none;
}